# Environnement
.env
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.cache/
.vite/
.next/
out/

# IDE / Éditeurs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
*.pid

# Divers
coverage/
*.db
*.sqlite
